body {
	font-family: 'Quicksand', sans-serif;
	
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.image-wrap {
	width: 100%;
	background-position: center;
	background-size: cover;
	height: 90vh;	
}
.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.banner-title {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.banner-desc p{
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
}
.trick-image {
	height: 200px;
	background-position: center;
	background-size: cover;
}

.offer-line-item {
	border-radius: 20px;
	overflow: hidden;
	background-color: #eee;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	margin-bottom: 30px;
}

a.share-trick {
    font-size: 1rem;
    display: inline-block;
    color: #555;
    padding: 5px;
    text-align: center;
    width: 35px;
    border-radius: 80px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    right: 30px;
	transition: all 0.5s;
}

a.share-trick:hover {
	transform: scale(1.5);
	color: #fff;
	background-color: #555;
}
.product-image {
	width: 100%;
	display: inline-block;
}

.original-price {
	text-decoration: line-through;
	color: #555;
}

.buy-now {
	display: inline-block;
	margin-top: 15px
}

.products-wrap {
	margin: 25px 0;
}

.discount-wrap {
	background-color: #555;
	padding: 50px 0;
	color: #fff;
}

.products-line-item {
	position: relative;
}

.product-content {
	padding: 15px;
	background-color: #fff;
	color: #000;
}

.disc-lable {
	position: absolute;
	top: 10px;
	left: 25px;
	line-height: 0.9;
	display: inline-block;
    width: 40px;
    height: 40px;
    font-weight: bolder;
    color: #fff;
    padding: 7px 0;
	text-align: center;
	border-radius: 50px;
	background-color: #ff4d4d
}
.company-name {
    padding: 10px;
	color: #fff;
    background-color: #555;
}
.coupon-details {
    padding: 10px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
	height: 120px
}

.coupon-code {
	font-family: monospace;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    color: #b17333;
    border: 2px dotted #b17333;
}

#coupon {
	margin-bottom: 30px;
}
